nav{
   display: flex;
   justify-content: space-between;
   margin:0 auto;
   align-items: center;
   max-width: 1200px;
   height: 100px;
}
nav button{
    width:115px;
    height: 52px;
    color: green;
    border-radius: 12px;
}
nav h1{
    font-size: 40px;
    
}
header{
    align-items: center;
    background-color: #C6E4D6;
    display: flex;
    justify-content:space-between;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 15px;
}
.text-section{
    margin-top: 30px;
    font-size: 20px;
    align-items: center;
    padding: 10px;
}
.text-section button{
    width: 270px;
    height: 56px;
    background-color: #006A50;
    color:white;
    margin-top: 20px;
    border-radius: 12px;
    border: none;
}
.img-section{
    margin-bottom: 30px;
}
.card-div{
    display: flex;
    width: 1200px;
    height: 324px;
    gap: 24px;
    margin: 80px auto;
}
.card{
    width: 302px;
    height: 244px;
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 10px;

}
.card img{
    width: 64px;
    height:64px;
}

.card-section2{
    width: 1200px;
    height: 765px;
    gap: 32px;
    margin: 0 auto;
}

.card-container{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    border-radious:20px;
    gap:20px;
}
.card-container button{
    width: 122px;
    height: 41px;
    margin-top: 20px;

}
.icon{
    width: 410px;
    height: 325px;
    /* margin: 10px; */
    padding: 10px;
    border-radius: 20px;
}
.icon img{
    width: 64px;
    height: 64px;
}
.card1{
        background-color:#90a9d3;
    }
.card2{
    background-color:#C6E4D6;
}
.card3{
    background-color: #F7EBCF;
}
.card1 button{
    background-color: #5490F5;
    font-size: semi bold;
    border-radius: 10px;
}
.card2 button{
    background-color: #09A15C;
    font-size: semi bold;
    border-radius: 10px;
}
.card3 button{
    background-color: #FFC239;
    font-size: semi bold;
    border-radius: 10px;
}
.text-intro{
    font-size: 20px;
}
.conclusion{
    font-size: 20px;
}
.full-table{
    width: 1200px;
    height: 400px;
    padding: 5px 5px 5px 5px;
    margin: 0 auto;
    gap: 25px 0 0 80px;
}
thead{
    margin: 10px solid red;
    background-color: #FFC239;
}

.table-section{
    width: 1200px;
    margin: 10px solid red;
    background-color: aliceblue;
}
